#formDiv {
            background-color: #a024ff;
            border-radius: 20px;
            color: white;
            font-size: 20px;
        }

        .submitButton {
            margin-left: 30px;
            margin-bottom: 30px;
            width:150px;
            display:block
        }

        #title {
            font-size: 50px;
            color: #a024ff;
            font-family: 'hk_groteskmedium';
            line-height: 40px;
        }

        #subtitle {
            font-size: 24px;
            font-family: 'hk_grotesklight';
        }

        .header {
            position: fixed;
            background: white;
        }

        .lightText-Gray {
            font-family: 'hk_grotesklight';
        }

        .mediumText-Gray {
            font-family: 'hk_groteskmedium';
        }

        .lightText-Purple {
            font-family: 'hk_grotesklight';
            color: #a024ff;
        }

        .mediumText-Purple {
            font-family: 'hk_groteskmedium';
            color: #a024ff;
        }

        .card {
            border-radius: 20%;
            cursor: pointer;
        }

        .navigation {
            font-size: 25px;
        }

        .card-body {
            background-color: #a024ff;
            font-family: 'hk_grotesklight';
            color: white;
        }

        #quote {
            text-align: center;
        }

        .card-body {
            background-color: #a024ff;
            font-family: 'hk_grotesklight';
            color: white;
        }

        .card .btn {
            z-index: 2;
            position: relative;
        }

        .lightText-Purple {
            font-family: 'hk_grotesklight';
            color: #a024ff;
        }

        .lightText-Gray {
            font-family: 'hk_grotesklight';
        }

        #formDiv {
            background-color: #a024ff;
            border-radius: 20px;
            color: white;
            font-size: 20px;
        }

        .submitButton {
            margin-left: 30px;
            margin-bottom: 30px;
            width:150px;
            display:block
        }

        #title {
            font-size: 50px;
            color: #a024ff;
            font-family: 'hk_groteskmedium';
            line-height: 40px;
        }

        #subtitle {
            font-size: 24px;
            colour: light-grey;
            font-family: 'hk_grotesklight';
        }

        .header {
            position: fixed;
            background: white;
        }

        .lightText-Gray {
            font-family: 'hk_grotesklight';
        }

        .lightText-White {
            font-family: 'hk_grotesklight';
            colour: white;
        }

        .mediumText-Gray {
            font-family: 'hk_groteskmedium';
        }

        .lightText-Purple {
            font-family: 'hk_grotesklight';
            color: #a024ff;
        }

        .mediumText-Purple {
            font-family: 'hk_groteskmedium';
            color: #a024ff;
        }

        .card {
            border-radius: 20%;
            cursor: pointer;
        }

        .navigation {
            font-size: 25px;
        }

        .card-body {
            background-color: #a024ff;
            font-family: 'hk_grotesklight';
            color: white;
        }

        #quote {
            text-align: center;
        }

        .card .btn {
            z-index: 2;
            position: relative;
        }

        #userGreeting{
            font-size: 18px;
            font-family: 'hk_grotesklight';
            colour: grey;
            display:inline;
        }


        #title {
            font-size: 50px;
            color: #a024ff;
            font-family: 'hk_groteskmedium';
            line-height: 40px;
        }


        @font-face {
            font-family: 'hk_grotesklight';
            src: url('fonts/hkgrotesk-light-webfont.woff2') format('woff2'),
            url('fonts/hkgrotesk-light-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;

        }

        @font-face {
            font-family: 'hk_groteskmedium';
            src: url('fonts/hkgrotesk-medium-webfont.woff2') format('woff2'),
            url('fonts/hkgrotesk-medium-webfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;

        }
