{% extends 'base-page.html' %}
{% load static %}

{% block title_block %}
    About
{% endblock %}

{% block styleblock %}
#backing {
    width: 70%;
    border-radius: 15px;
    background: #a024ff;
    padding: 20px;
    margin: 0 auto;
}

.text {
    color: white;
}

.buttons {
    top: 1px;
    bottom: 25px;
    text-align: center;
    font-size: larger;
    color: #a024ff;
}

.image_grid {
    width: 90%;
    display: inline-grid;
    gap: 20px;
    grid-template-columns: auto auto;
    margin: 0 auto;
}

.grid_item {
    position: relative;
    display: flex;
    grid-column-start: auto;
    grid-row-start: auto;

}

.name {
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: 'hk_grotesklight';
}

.profileImage {
    border-radius: 50%;
    object-fit: cover;
    outline: white solid 5px;
    width: 100%;
    height: 70%;
    width="100px"
}

p {
    font-size: 20px;
    color: white;
    font-family: 'hk_grotesklight';
}

h1 {
    color: white;
    font-family: 'hk_grotesklight';
}
{% endblock %}

{% block body_block %}
    <div id="backing" class="col-md-12 col-md-12 mt-5">
        <h1 class="text">About Us</h1>
        <p class="text" align="justify">
            The world internet, and thus the world, is becoming a crowded and ever more connected place. At Komorebi, we
            want to make it easier to stay quiet in a world that can't stop talking.
        </p>
        <h1 class="text pb-5">Meet the Team</h1>
        <div class="image_grid justify-content-center d-flex">
            <div class="grid_item justify-content-center">
                <div class="row-4">
                    <img src="{% static 'authors/joe.png' %}" class="profileImage">
                    <div class="col-12 name">Joe Rose</div>
                </div>
            </div>
            <div class="grid_item justify-content-center">
                <div class="row-4">
                    <img src="{% static 'authors/tak.png' %}" class="profileImage">
                    <div class="col-12 name">Tak Ko</div>
                </div>

            </div>
            <div class="grid_item justify-content-center">
                <div class="row-4">
                    <img src="{% static 'authors/ben.png' %}" class="profileImage">
                    <div class="col-12 name">Ben O'Hara</div>
                </div>
            </div>
            <div class="grid_item justify-content-center">
                <div class="row-4">
                    <img src="{% static 'authors/yifan.png' %}" class="profileImage">
                    <div class="col-12 name">Yifan Wan</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 
