{% extends 'basePage.html' %}
{% load static %}

{% block title_block %}
    About
{% endblock %}

{% block subtitle_block %}
    About
{% endblock %}

{% block body_block %}
<div class="row justify-content-center pt-lg-1 g-0">
    <div class="col-xs-12 col-md-8">
        <div class="row justify-content-center">
            <div class="col-md-10" ></div>
        </div>


        <div class="row justify-content-center mt-3 px-4 pt-4 g-0" style="background-color: #a024ff; border-radius: 15px;">
            <h1>
                About Us
            </h1>
            <p class="text">
                The world internet, and thus the world, is becoming a crowded and ever more connected place. At Komorebi, we
                want to make it easier to stay quiet in a world that can't stop talking.
            </p>
            <h1 class="pt-2">
                Meet The Team
            </h1>


            <div class="col-12 pt-3">
                <div class="row g-0">
                    <div class="row justify-content-around">
                        <div class="col-3">
                            <div class="row justify-content-center">
                                <img src="{% static 'authors/tak.png' %}" class="profileImage row-12">
                                <div class="row-12 name">Tak Ko</div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row justify-content-center">
                                <img src="{% static 'authors/joe.png' %}" class="profileImage row-12">
                                <div class="row-12 name">Joe Rose</div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-around pt-4 pb-4">
                        <div class="col-3">
                            <div class="row justify-content-center">
                                <img src="{% static 'authors/ben.png' %}" class="profileImage row-12">
                                <div class="row-12 name">Ben O'Hara</div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row justify-content-center">
                                <img src="{% static 'authors/yifan.png' %}" class="profileImage row-12">
                                <div class="row-12 name">Yifan Wan</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
