<!DOCTYPE html>
{% extends 'base-page.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title_block %}
    Create Account
{% endblock %}

<html lang="en">
<head>
    <meta charset="UTF-8">
{% block scriptblock %}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="915973472299-6t7fsebovo330ct0o39qkkbcgar4qu51.apps.googleusercontent.com">
    <script>
    function onSignIn(googleUser) {
          var profile = googleUser.getBasicProfile();
          console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
          console.log('Name: ' + profile.getName());
          console.log('Image URL: ' + profile.getImageUrl());
          console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
        }
    </script>

{% endblock %}

    <style>
        {% block styleblock %}
            #formDiv {
                background-color: #a024ff;
                border-radius: 20px;
                color: white;
                font-size: 20px;
            }

            .submitButton {
                margin-left: 30px;
                margin-bottom: 30px;
                width:150px;
                display:block
            }

        {% endblock %}

    </style>

</head>
<body>
{% block body_block %}
        <div class="row justify-content-center lightText-White pt-3">
            <div class="col-lg-6" id="formDiv">
                <div class="row-lg-10 mx-3">
                    <h1 class="lightText-White pt-4" align="center">Create Account</h1>
                   <form method="post" enctype="multipart/form-data">
                       <div class="g-signin2 pb-2" data-onsuccess="onSignIn"></div>
                      {% csrf_token %}
                        {% load crispy_forms_tags %}
                        {% crispy form %}
                      <div class="pt-3"></div>
                  </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>