<!DOCTYPE html>
{% extends 'basepage.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        {% block styleblock %}
            #formDiv {
                background-color: #a024ff;
                border-radius: 20px;
                color: white;
                font-size: 20px;
            }

            h2 {
                margin: 50px 0
            }

        {% endblock %}

    </style>
    <title>
        komorebi -
        {% block title_block %}
            Picture Sharing!
        {% endblock %}
    </title>

</head>
<body>
{% block body_block %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4 col-lg-2" style="border-right: 2px solid #a024ff;">
                <div class="navigation row lightText-Gray justify-content-center">Home</div>
            </div>
            <div class="col-4 col-lg-2" style="border-right: 2px solid #a024ff;">
                <div class="navigation row lightText-Gray justify-content-center">My Feed</div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="navigation row lightText-Gray justify-content-center">Dashboard</div>
            </div>
        </div>
        <div class="row justify-content-center lightText-White pt-3">
            <div class="col-lg-6" id="formDiv">
                <h1 class="lightText-White pt-4" align="center">Create Account</h1>
                <form>
                    <div class="form-group px-4 pt-3">
                        <label for="exampleFormControlTextarea1">Description (Max. 250 Characters)</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                    </div>

                    <div class="form-group px-4 pt-3">
                        <label for="username">Username</label>
                        <input class="form-control" id="exampleFormControlInput1"
                               placeholder="Enter your username...">
                    </div>

                    <div class="form-group px-4 pt-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                               placeholder="Enter your email address...">
                    </div>

                    <div class="file-drop-area p-4">
                        <input class="file-input" type="file" single>
                    </div>
                    <div class="form-group px-4 pt-3">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="exampleFormControlInput1"
                               placeholder="Enter your password...">
                    </div>

                    <div class="form-group px-4 pt-3 pb-5">
                        <label for="password">Re-enter Password</label>
                        <input type="password" class="form-control" id="exampleFormControlInput1"
                               placeholder="Re-enter your password...">
                    </div>

                </form>

                <div class="col-11 mx-auto pb-5">
                {% for picture in pictures %}

                    <div class="pt-2 pt-lg-2" style="width: 32%; display: inline-block">
                        <div class="card mt-2">
                            <img src={{ picture.thumbnail.url }} class="card-img-top" alt="..."
                                 style="width: 100%; height:200px; object-fit: cover;">
                            </a>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <button type="button"
                                                data-pictureID="{{ picture.ID }}"
                                                class="btn btn-default btn-sm likeButton">
                                            <img src="/static/icons/purpleLike.png" width="35">
                                            <div style="display:inline;color: #a024ff;font-size: 12px;"
                                                 id="like-count{{ picture.ID }}">{{ picture.likes.count }}</div>
                                        </button>
                                        <button type="button"
                                                data-pictureID="{{ picture.ID }}"
                                                class="btn btn-default btn-sm dislikeButton">
                                            <img src="/static/icons/purpleDislike.png" width="35">
                                            <div style="display:inline;color: #a024ff;font-size: 12px;"
                                                 id="dislike-count{{ picture.ID }}">{{ picture.dislikes.count }}</div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
                </div>


            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>