{% extends 'base-page.html' %}
{% load static %}
{% load staticfiles %}

{% block title_block %}
Image Close Up
{% endblock %}

{% block subtitle_block %}
Image Close Up
{% endblock %}

{% block styleblock %}
.card-body{
    background-color: white;
}
#author{
    colour: black;
    text-decoration: inherit;
    font-size: 25px;
}
{% endblock %}

{% block body_block %}
<div class="row justify-content-center">
    <div style="width : 60%;" class="card mt-3 px-0">
        <img src="{{ picture.image.url }}" class="card-img-top " style="width: 100%;
    height: 45vw;
    object-fit: cover;" alt="...">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h5 class="card-title lightText-Purple" style="font-size: 35px">{{ picture.name }}</h5>
                </div>
                <div class="col-6">
                    {% if user.is_authenticated %}
                    <button type="button"
                            data-pictureID="{{ picture.ID }}"
                            class="btn btn-default btn-sm likeButton">
                        <img src="{% static 'icons/purpleLike.png' %}" width="35">
                        <div style="display:inline;color: #a024ff;font-size: 20px;" class="p-1"
                             id="like-count{{ picture.ID }}">{{ picture.likes.count }}</div>
                    </button>
                    <button type="button"
                            data-pictureID="{{ picture.ID }}"
                            class="btn btn-default btn-sm dislikeButton">
                        <img src="{% static 'icons/purpleDislike.png' %}" width="35">
                        <div style="display:inline;color: #a024ff;font-size: 20px;" class="p-1"
                             id="dislike-count{{ picture.ID }}">{{ picture.dislikes.count }}</div>
                    </button>
                    {% else %}
                        <button type="button"
                            data-pictureID="{{ picture.ID }}"
                            class="btn btn-default btn-sm dummyButton">
                        <img src="{% static 'icons/purpleLike.png' %}" width="35">
                        <div style="display:inline;color: #a024ff;font-size: 20px;" class="p-1"
                             id="like-count{{ picture.ID }}">{{ picture.likes.count }}</div>
                    </button>
                    <button type="button"
                            data-pictureID="{{ picture.ID }}"
                            class="btn btn-default btn-sm dummyButton">
                        <img src="{% static 'icons/purpleDislike.png' %}" width="35">
                        <div style="display:inline;color: #a024ff;font-size: 20px;" class="p-1"
                             id="dislike-count{{ picture.ID }}">{{ picture.dislikes.count }}</div>
                    </button>
                    {% endif %}
                    <button type="button"
                            data-pictureID="{{ picture.ID }}"
                            class="btn btn-default btn-sm shareButton">
                        <img src="{% static 'icons/share.png' %}" width="35">
                        <div style="display:inline;color: #a024ff;font-size: 20px;" class="p-1"
                             id="shareButton">Share
                        </div>
                    </button>

                </div>
                <a href="{% url 'manageUsers:profile' picture.uploadedBy.username %}" class="d-inline-flex lightText-Gray" id="author">
                    Posted By: {{ picture.uploadedBy.username }}
                </a>
                {% if picture.uploadedBy.username == user.get_username %}
                    <a href="{% url 'manageImages:picturedelete' picture.ID %}" class="btn btn-primary btn-lg mt-3 delete-button" role="button" aria-disabled="true">DELETE PICTURE</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}