{% extends 'base-page.html' %}
{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
Create Account
{% endblock %}

{% block subtitle_block %}
Create Account
{% endblock %}

{% block body_block %}
<div class="row justify-content-center lightText-White pt-3">
    <div class="col-lg-6" id="formDiv">
        <div class="row-lg-10 mx-3">
            <h1 class="lightText-White pt-4" align="center">Create Account</h1>
           <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
                {% load crispy_forms_tags %}
                {% crispy form %}
              <div class="pt-3"></div>
          </form>
        </div>
    </div>
</div>
{% endblock %}
