#backing {
    width: 70%;
    border-radius: 15px;
    background: #a024ff;
    padding: 20px;
    margin: 0 auto;
}

.buttons {
    top: 1px;
    bottom: 25px;
    text-align: center;
    font-size: larger;
    color: #a024ff;
}

.card {
    border-radius: 20%;
    cursor: pointer;
}

.card:hover {
    transition: transform 250ms;
    transform: scale(1.03);
}

.card .btn {
    z-index: 2;
    position: relative;
}

.card-body {
    background-color: #a024ff;
    font-family: 'hk_grotesklight';
    color: white;
}

.file-drop-area {
    background-color: #a024ff;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}

@font-face {
    font-family: 'hk_grotesklight';
    src: url("{% static 'fonts/hkgrotesk-light-webfont.woff2' %}") format('woff2'),
    url("{% static 'fonts/hkgrotesk-light-webfont.woff' %}") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hk_groteskmedium';
    src: url("{% static 'fonts/hkgrotesk-medium-webfont.woff2' %}") format('woff2'),
    url("{% static 'fonts/hkgrotesk-medium-webfont.woff' %}") format('woff');
    font-weight: normal;
    font-style: normal;

}

#formDiv {
    background-color: #a024ff;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}

.grid_item {
    position: relative;
    display: flex;
    grid-column-start: auto;
    grid-row-start: auto;
}

.header {
    position: fixed;
    background: white;
}

.image_grid {
    width: 90%;
    display: inline-grid;
    gap: 20px;
    grid-template-columns: auto auto auto;
    margin: 0 auto;
}

.lightText-Gray {
    font-family: 'hk_grotesklight';
    color: Gainsboro;
}

.lightText-Purple {
    font-family: 'hk_grotesklight';
    color: #a024ff;
}

.mediumText-Gray {
    font-family: 'hk_groteskmedium';
    color: Gainsboro;
}

.mediumText-Purple {
    font-family: 'hk_groteskmedium';
    color: #a024ff;
}

.navigation {
    font-size: 25px;
}

#profileImage {
    object-fit: cover;
    width: 230px;
    height: 230px;
    outline: #a024ff solid 10px;
}

#quote {
    text-align: center;
}

.submitButton {
    margin-left: 30px;
    margin-bottom: 30px;
    width:150px;
    display:block
}

#subtitle {
    font-size: 24px;
    color: light-grey;
    font-family: 'hk_grotesklight';
}

.text {
    color: white;
}

#title {
    font-size: 50px;
    color: #a024ff;
    font-family: 'hk_groteskmedium';
    line-height: 40px;
}

#userGreeting{
    font-size: 18px;
    font-family: 'hk_grotesklight';
    color: grey;
    display:inline;
}