{% extends 'basePage.html' %}
{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
Edit Account
{% endblock %}

{% block subtitle_block %}
Edit Account
{% endblock %}

{% block body_block %}
<div class="row justify-content-center lightText-White pt-3">
    <div class="col-lg-6" id="formDiv">
        <div class="row-lg-10 mx-3">
            <h1 class="lightText-White pt-4" align="center">Edit Account</h1>

           <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
                {% load crispy_forms_tags %}
                {% crispy form %}
                <a href="{% url 'manageUsers:userdelete' %}" class="btn btn-primary btn-lg mt-3" style="background-color: red;" role="button" aria-disabled="true">DELETE ACCOUNT</a>
              <div class="pt-3"></div>
          </form>

        </div>
    </div>
</div>
{% endblock %}