{% extends 'basePage.html' %}
{% load static %}

{% block title_block %}
    Home
{% endblock %}

{% block subtitle_block %}
    Home
{% endblock %}

{% block body_block %}
    <div class="row justify-content-center pt-lg-1 g-0">
        <div class="col-sm-12 col-md-10 pt-3">
            <div class="row g-0">
                {% for picture in pictures %}
                    <div class="col-xs-12 col-lg-4 pt-1 pt-lg-0 ">
                        <div class="card mx-lg-1 mx-xs-auto mt-2 hover-shadow" >
                            <a href="{% url 'manageImages:closeup' picture.ID %}" class="stretched-link">
                                <div class="bg-image hover-zoom">
                                    <img id="post-image" src={{ picture.thumbnail.url }} class="card-img-top" alt="...">
                                </div>

                            </a>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-5">
                                        <h5 class="card-title p-2">{{ picture.name }}</h5>
                                    </div>
                                    <div class="col-7">
                                        <button type="button"
                                                data-pictureID="{{ picture.ID }}"
                                                class="btn btn-default btn-sm likeButton">
                                            <img src="/static/icons/whiteLike.png" width="35">
                                            <div class="p-1 button-text"
                                                 id="like-count{{ picture.ID }}">{{ picture.likes.count }}</div>
                                        </button>
                                        <button type="button"
                                                data-pictureID="{{ picture.ID }}"
                                                class="btn btn-default btn-sm dislikeButton">
                                            <img src="/static/icons/whiteDislike.png" width="35">
                                            <div class="p-1 button-text"
                                                 id="dislike-count{{ picture.ID }}">{{ picture.dislikes.count }}</div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
