{% extends 'basePage.html' %}
{% load static %}

{% block title_block %}
    Login
{% endblock %}

{% block subtitle_block %}
    Login
{% endblock %}

{% block body_block %}
        <div class="row justify-content-center lightText-White pt-3">
            <div class="col-lg-6" id="formDiv">
                <h1 class="lightText-White pt-4" align="center">Login</h1>
                <form action="" method=POST>
                    {% csrf_token %}
                    <div class="form-group px-4 pt-3 pb-4">
                        <label for="username">Username</label>
                        <input type="username" class="form-control" name="username"
                               placeholder="Enter your email address...">
                    </div>

                    <div class="form-group px-4 pt-2">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password"
                               placeholder="Enter your password...">
                    </div>
                    <button type="submit" value="submit" id="submit-button" class="btn btn-primary mb-3 mt-3">Submit</button>
                </form>


            </div>
        </div>
    </div>
{% endblock %}