<!DOCTYPE html>
{% extends 'basepage.html' %}
{% load static %}


{% block title_block %}
    Login
{% endblock %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        {% block styleblock %}
            #formDiv {
                background-color: #a024ff;
                border-radius: 20px;
                color: white;
                font-size: 20px;
            }

            .submitButton {
                margin-left: 30px;
                margin-bottom: 30px;
                width:150px;
                display:block
            }

        {% endblock %}

    </style>

</head>
<body>
{% block body_block %}
        <div class="row justify-content-center lightText-White pt-3">
            <div class="col-lg-6" id="formDiv">
                <h1 class="lightText-White pt-4" align="center">Login</h1>
                <form action="" method=POST>
                    {% csrf_token %}
                    <div class="form-group px-4 pt-3 pb-4">
                        <label for="username">Username</label>
                        <input type="username" class="form-control" name="username"
                               placeholder="Enter your email address...">
                    </div>

                    <div class="form-group px-4 pt-2">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password"
                               placeholder="Enter your password...">
                    </div>
                    <button type="submit" value="submit" class="btn btn-default submitButton mt-5">Submit</button>
                </form>


            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>