<!DOCTYPE html>
{% extends 'base-page.html' %}
{% load static %}


{% block title_block %}
    {{ profileUser.get_username }}
{% endblock %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        {% block styleblock %}
            #profileImage {
                object-fit: cover;
                width: 230px;
                height: 230px;
                outline: #a024ff solid 10px;
            }

            .file-drop-area {
                background-color: #a024ff;
                border-radius: 20px;
                color: white;
                font-size: 20px;
            }

            #profile-title{
                font-size: 45px;
                display:inline;
                line-height: 70px;
            }

            #spanner-icon{
                display: inline;
            }

            #add-post{
                font-size: 40px;
                text-decoration: inherit;
            }



        {% endblock %}

    </style>

</head>


<body>
    {% block body_block %}
        <div class="row justify-content-center pt-lg-1 g-0">
            <div class="col-sm-12 col-md-10">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="row pt-5 pb-5">
                            <div class="col-xl-4 p-3 bg-white text-white">
                                <img id=profileImage src="/media/{{ profileUser.profileImage }}" class="rounded-circle">
                            </div>
                            <div class="col-xl-8 p-3 bg-white text-#a024ff">
                                <div id="profile-title"class="mediumText-Purple">
                                    {{ profileUser.get_username }}
                                </div>
                                {% if profileUser.get_username == user.get_username %}
                                    <div id="spanner-icon">
                                        <a href="{% url 'manageUsers:edit' %}">
                                            <img class="pb-3 ml-1" src="{% static 'icons/spanner.png' %}" width="40">
                                        </a>
                                    </div>
                                {% else %}
                                    <button type="button" data-user="{{ profileUser.id }}" class="btn btn-primary followButton"><div id="buttontext">
                                        {{ buttontext }}</div></button>
                                {% endif %}
                                <div id="spanner-icon">
                                </div>
                                <div class="MediumText-Gray">
                                    {{ profileUser.city }}
                                </div>
                                <div class="lightText-Gray">
                                    {{ profileUser.description }}
                                </div>
                            </div>
                                {% if profileUser.get_username == user.get_username %}
                                    <a href="{% url 'manageImages:addimage' %}">
                                        <div class="file-drop-area mt-5 p-4">
                                            <div class="lightText-White" id="add-post">Add a new post</div>
                                        </div>
                                    </a>
                                {% endif %}
                        </div>
                    </div>



                </div>

                <div class="row justify-content-center pt-3 g-0">
                    <h2 class="my-account-title mediumText-Gray">{{ profileUser.get_username }}'s Images</h2>
                    <div class="col-sm-12">
                        <div class="row g-0">

                            {% for picture in pictures %}

                                <div class="col-xs-12 col-lg-4 pt-1 pt-lg-0 ">
                                    <div class="card mx-lg-1 mx-xs-auto mt-2">
                                        <a href="{% url 'manageImages:closeup' picture.ID %}"
                                           class="stretched-link">
                                            <img id="post-image" src={{ picture.thumbnail.url }} class="card-img-top" alt="...">
                                        </a>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-5">
                                                    <h5 class="card-title p-2">{{ picture.name }}</h5>
                                                </div>
                                                <div class="col-7">
                                                    <button type="button"
                                                            data-pictureID="{{ picture.ID }}"
                                                            class="btn btn-default btn-sm likeButton">
                                                        <img src="/static/icons/whiteLike.png" width="35">
                                                        <div class="p-1 button-text"
                                                             id="like-count{{ picture.ID }}">{{ picture.likes.count }}</div>
                                                    </button>
                                                    <button type="button"
                                                            data-pictureID="{{ picture.ID }}"
                                                            class="btn btn-default btn-sm dislikeButton">
                                                        <img src="/static/icons/whiteDislike.png" width="35">
                                                        <div style="display:inline;color: white;font-size: 18px;"
                                                             class="p-1 button-text"
                                                             id="dislike-count{{ picture.ID }}">{{ picture.dislikes.count }}</div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </body>
    {% endblock %}
</html>