<!DOCTYPE html>
{% extends 'basePage.html' %}
{% load static %}


{% block title_block %}
    {{ profileUser.get_username }}
{% endblock %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        {% block styleblock %}
            #profileImage {
                object-fit: cover;
                width: 230px;
                height: 230px;
                outline: #a024ff solid 10px;
            }

            .file-drop-area {
                background-color: #a024ff;
                border-radius: 20px;
                color: white;
                font-size: 20px;
            }


        {% endblock %}

    </style>

</head>


<body>
<div class="container">
    {% block body_block %}
        <div class="row justify-content-center pb-3">
            <div class="col-4 col-lg-2" style="border-right: 2px solid #a024ff;">
                <div class="navigation row lightText-Gray justify-content-center"><a style="text-align: center; text-decoration: none;
                color: inherit;" href="{% url 'manageUsers:myfeed' %}" onMouseOver="this.style.color='#a024ff'"
                                                                                     onMouseOut="this.style.color='black'">My
                    Feed</a></div>
            </div>
            <div class="col-4 col-lg-2" style="border-right: 2px solid #a024ff;">
                <div class="navigation row lightText-Gray justify-content-center"><a style="text-align: center; text-decoration: none;
                color: inherit;" href="{% url 'manageUsers:profile' user.get_username %}" onMouseOver="this.style.color='#a024ff'"
                                                                                     onMouseOut="this.style.color='black'">Dashboard</a>
                </div>
            </div>
            <div class="col-4 col-lg-2">
                <div class="navigation row lightText-Gray justify-content-center"><a style="text-align: center; text-decoration: none;
                color: inherit;" href="{% url 'about' %}" onMouseOver="this.style.color='#a024ff'"
                                                                                     onMouseOut="this.style.color='black'">About</a>
                </div>
            </div>
        </div>

        <div class="row justify-content-center pt-lg-1 g-0">
            <div class="col-sm-12 col-md-10">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="row pt-5 pb-5">
                            <div class="col-xl-4 p-3 bg-white text-white">
                                <img id=profileImage src="/media/{{ profileUser.profileImage }}" class="rounded-circle">
                            </div>
                            <div class="col-xl-8 p-3 bg-white text-#a024ff">
                                <div class="mediumText-Purple"
                                     style="font-size: 45px;display:inline;line-height: 70px;">
                                    {{ profileUser.get_username }}
                                </div>
                                {% if profileUser.get_username == user.get_username %}
                                    <div style="display: inline">
                                        <a href="{% url 'manageUsers:edit' %}">
                                            <img class="pb-3 ml-1" src="{% static 'icons/spanner.png' %}" width="40">
                                        </a>
                                    </div>
                                {% else %}
                                    <button type="button" data-user="{{ profileUser.id }}" class="btn btn-primary followButton"><div id="buttontext">
                                        {{ buttontext }}</div></button>
                                {% endif %}
                                <div style="display: inline">
                                </div>
                                <div class="MediumText-Gray">
                                    {{ profileUser.city }}
                                </div>
                                <div class="lightText-Gray">
                                    {{ profileUser.description }}
                                </div>
                            </div>
                                {% if profileUser.get_username == user.get_username %}
                                    <a href="{% url 'manageImages:addimage' %}">
                                        <div class="file-drop-area mt-5 p-4">
                                            <div class="lightText-White" style="font-size: 40px;text-decoration: inherit;">Add a new post</div>
                                        </div>
                                    </a>
                                {% endif %}
                        </div>
                    </div>



                </div>

                <div class="row justify-content-center pt-3 g-0">
                    <h2 class="my-account-title mediumText-Gray">{{ profileUser.get_username }}'s Images</h2>
                    <div class="col-sm-12">
                        <div class="row g-0">

                            {% for picture in pictures %}

                                <div class="col-xs-12 col-lg-4 pt-1 pt-lg-0 ">
                                    <div class="card mx-lg-1 mx-xs-auto mt-2">
                                        <a href="{% url 'manageImages:closeup' picture.ID %}"
                                           class="stretched-link">
                                            <img src={{ picture.thumbnail.url }} class="card-img-top" alt="..."
                                                 style="width: 100%; height:330px; object-fit: cover;">
                                        </a>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-5">
                                                    <h5 class="card-title p-2">{{ picture.name }}</h5>
                                                </div>
                                                <div class="col-7">
                                                    <button type="button"
                                                            data-pictureID="{{ picture.ID }}"
                                                            class="btn btn-default btn-sm likeButton">
                                                        <img src="/static/icons/whiteLike.png" width="35">
                                                        <div style="display:inline;color: white;font-size: 18px;"
                                                             class="p-1"
                                                             id="like-count{{ picture.ID }}">{{ picture.likes.count }}</div>
                                                    </button>
                                                    <button type="button"
                                                            data-pictureID="{{ picture.ID }}"
                                                            class="btn btn-default btn-sm dislikeButton">
                                                        <img src="/static/icons/whiteDislike.png" width="35">
                                                        <div style="display:inline;color: white;font-size: 18px;"
                                                             class="p-1"
                                                             id="dislike-count{{ picture.ID }}">{{ picture.dislikes.count }}</div>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </body>
    {% endblock %}
</html>